body{
    font-family: 'Knowledge-Regular', Arial, Helvetica, sans-serif;
    background-color: $reuters-background;
}
:focus, a:hover, a:focus, .btn:hover, .btn:focus, .form-control:focus {
    outline: none;
    box-shadow: none;
}

.text-blue{
    color: $reuters-blue!important;
}
.light-grey{
    color: $reuters-light-grey;
}
.font-size-xs{
    font-size: 12px;
    line-height: 14px;
}
.font-size-md{
    font-size: 14px;
    line-height: 16px;  
}
.font-size-lg{
    font-size: 19px;
    line-height: 20px;  
}
.font500{
    font-weight: 500;
}
.knowledgeMedium{
    font-family: 'Knowledge-Medium';
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.close-icon{
    @extend .position-absolute;
    right: -14px;
    top: -28px;
    width: 14px;
    height: 14px;
    opacity: 1;
    &:after, &::before{
        @extend .position-absolute;
        left: 0;
        content: '';
        height: 18px;
        width: 2px;
        background-color: $reuters-light-grey;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:hover{
        cursor: pointer;
        &:after, &::before{
            background-color: $reuters-primary;
        }
    }
}
.primary-title{
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.64px;
    margin-bottom: 25px;
    color: $reuters-black;
}
.secondary-title{
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 0.5px;
    color: $reuters-med-grey;
    font-weight: 400;
}
.center{
    text-align: center;
}
.primary-btn{
    background: $reuters-primary;
    border: none;
    color: $reuters-white;
    text-transform: uppercase;
    @extend .font-size-xs;
    letter-spacing: 0.8px;
    @extend .font500;
    padding: 18px 28px;
    min-height: 50px;
    min-width: 150px;
    border-radius: 0;
    @extend .knowledgeMedium;
    &:hover, &:focus, &:focus:hover, &:active{
        background: $reuters-primary;
        outline: none;
        box-shadow: none;
    }
}
.secondary-btn{
    @extend .font-size-xs;
    letter-spacing: 0.8px;
    padding: 15px 28px;
    background: $reuters-dark-grey;
    border-radius: 0;
    color: $reuters-white;
    @extend .knowledgeMedium;
    &:hover, &:focus, &:focus:hover, &:active{
        background: $reuters-dark-grey;
        outline: none;
        box-shadow: none;
    }
}
.link{
    font-size: 16px;
    line-height: 18px;
    color: $reuters-primary; 
    @extend .knowledgeMedium;
    margin-top: 2px;
    border-bottom: 2px solid transparent;
    margin-bottom: 0;
    &:hover, &:focus, &:focus:hover{
     color: $reuters-primary; 
     cursor: pointer;
     border-color:$reuters-primary;
     text-decoration: none;
    }
 }

.border{
    border: solid $border-color;
    border-width: 0.03em;
    border-radius: 2px;
}
.sort{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid $reuters-black;
        margin-bottom: 1px ;
        &:hover, &.active{
            border-bottom-color: $reuters-primary;
            cursor: pointer;
        }
      }
      .arrow-down {
        width: 0; 
        height: 0; 
        margin-top: 1px ;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $reuters-black;
        &:hover, &.active{
            border-top-color: $reuters-primary;
            cursor: pointer;
        }
      }
}
.textLabel{
    @extend .font-size-xs;
    letter-spacing: 0.43px;
    color: #9A9A9A;
    margin-bottom: 8px;
    @extend .knowledgeMedium;
}


/* Form Control */

.custom-checkbox, .custom-radio{
    margin-bottom: 10px;
    padding-left: 22px;
    min-height: auto;
    .custom-control-label{
        @extend .font-size-xs;
        letter-spacing: 0.5px;
        color: $reuters-med-grey;
        &:hover{
            cursor: pointer;
        }
        &::before{
            width: 12px;
            height: 12px;
            border-radius: 0px;
            left: -22px;
            top: 2px;
            background: $reuters-white;
            border: 1px solid $reuters-light-grey;
        }
       
    }
    .custom-control-input{
        &:checked~{ 
          .custom-control-label{
                &::before{
                    background: $reuters-white;
                }
                &::after{
                    background: $reuters-primary;
                    width: 6px;
                    left: -19px;
                    height: 6px;
                    top: 5px;
                }
            }  
        }
        &:focus~{
            .custom-control-label{
                &:before{
                    outline: none;
                    box-shadow: none;
                }
            }   
        }
        &:disabled~{
            :hover{
                cursor: not-allowed;
            }
            .custom-control-label{
                //opacity: 0.5;
                &::before{
                    opacity: 0.5;
                }
            }
        }
    }
    
}
.custom-radio{
    .custom-control-label{
        &::before, &::after{
            border-radius: 50%;
        }
    }
}

.basic-multi-select{
    .select__control{
        margin-bottom: 10px;
        @extend .border;
        box-shadow: none;
        border-radius: 0;
        &:hover, &:focus{
            border-color: $border-color;
            box-shadow: none;
        }
        .select__value-container{
            min-height: 50px;
        }
        .select__indicators{
            display: none;
        }
    }
    .select__menu{
        margin-top: 0;
        background: $reuters-white;
        border-radius: 0;
        
        .select__menu-list{
            padding:0;
            max-height: 110px;
        }
        .select__option{
            padding: 8px 15px;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.5px;
            color: $reuters-black;
            font-weight: 500;
            background: transparent;
            &.select__option--is-focused{
                background: transparent;
                cursor: pointer;
            }
            &:hover{
                background: #e6e3e3;
                cursor: pointer;
            }
            
        }
    }

}
.stickyHeader{
    .singleSelect{
        max-width: 190px;
        min-width: 190px;
        .basic-multi-select {
            .select__control {
                .select__value-container{
                    min-height: 46px;
                }
            }
        }
    }
}
.singleSelect{
    // max-width: 190px;
    // min-width: 190px;
    .basic-multi-select {
        .select__control {
            &:after{
                font-family: "IcoMoon" !important;
                transform: rotate(180deg);
                font-size: 22px;
                @extend .position-absolute;
                right: 14px;
                top: 3px;
                content: "\ea50";
            }
            .select__value-container{
                padding-left: 15px;
                .select__single-value{
                    @extend .font-size-md;
                    line-height: 16px;
                }
                
            }
            &.select__control--menu-is-open{
                &:after{
                    transform: rotate(0deg);
                    top: 13px;
                }
            }
        }
        
    }
}


.react-datepicker-wrapper{
    display: block;
    input{
        border-radius: 0;
        padding: 17px 15px;
        color: $reuters-black;
        width: 100%;        
        @extend .border;
    }
    

}
.react-datepicker__month-select, .react-datepicker__year-select{
    padding: 5px 5px;
    background: transparent;
    border-color: $border-color;
}

.react-datepicker-popper[data-placement^="bottom"]{
    margin-top: 0;
}
.react-datepicker-popper{
    .react-datepicker__month-container{
        float: none;
        float: left;
    }
}
.react-datepicker{
    background: $reuters-white;
    border-color: $reuters-light-grey;
    border-radius: 0;
    width: 100%;
    @extend .font-size-xs;
    .react-datepicker__header{
        background: $reuters-white;
        border-color: $reuters-white;
    }
    
    .react-datepicker__triangle{
        display: none;
    }
    .react-datepicker__day-name, .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header, .react-datepicker__day{
        color: $reuters-black;
        font-size: 12px;
    }
     .react-datepicker__time-name, .react-datepicker__day--outside-month{
        color: #5C5C5C;
    }
    .react-datepicker__day--selected:hover, 
    .react-datepicker__day--in-selecting-range:hover,
    .react-datepicker__day--in-range:hover, 
    .react-datepicker__month-text--selected:hover, 
    .react-datepicker__month-text--in-selecting-range:hover, 
    .react-datepicker__month-text--in-range:hover, 
    .react-datepicker__quarter-text--selected:hover, 
    .react-datepicker__quarter-text--in-selecting-range:hover, 
    .react-datepicker__quarter-text--in-range:hover,
    .react-datepicker__day--selected, 
    .react-datepicker__day--in-selecting-range, 
    .react-datepicker__day--in-range, 
    .react-datepicker__month-text--selected, 
    .react-datepicker__month-text--in-selecting-range, 
    .react-datepicker__month-text--in-range, 
    .react-datepicker__quarter-text--selected, 
    .react-datepicker__quarter-text--in-selecting-range, 
    .react-datepicker__quarter-text--in-range, 
    .react-datepicker__day:hover, 
    .react-datepicker__month-text:hover, 
    .react-datepicker__quarter-text:hover,
    .react-datepicker__day--keyboard-selected, 
    .react-datepicker__month-text--keyboard-selected, 
    .react-datepicker__quarter-text--keyboard-selected{
        background: transparent;
        color: $reuters-primary;
    }
    .react-datepicker__day--disabled, 
    .react-datepicker__month-text--disabled, 
    .react-datepicker__quarter-text--disabled{
        color: $reuters-med-grey;
    }
    .react-datepicker__day-names{
        padding-top: 14px;
    }
    .react-datepicker__month{
        margin-top: 0;
    }
    .react-datepicker__current-month{
        margin-top: 4px;
        display: none;
    }
    .react-datepicker__navigation{
        top:15px;
    }
    width: 150%;
}

.form-control::-webkit-input-placeholder, 
::-webkit-input-placeholder{
    color: $reuters-light-grey;
}
.form-control::-moz-placeholder, 
::-moz-placeholder{
    color: $reuters-light-grey;
}
.form-control:-ms-input-placeholder, 
:-ms-input-placeholder{
    color: $reuters-light-grey;
}
.form-control:-moz-placeholder, 
:-moz-placeholder {
    color: $reuters-light-grey;
}

.pageLoader{
    font-size: 100px;
    color: $reuters-primary;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
}

.animation-duration-0-5 {
-webkit-animation-duration: 0.5s;
-moz-animation-duration: 0.5s;
-o-animation-duration: 0.5s;
-ms-animation-duration: 0.5s;
animation-duration: 0.5s; }

.animation-duration-0-7 {
-webkit-animation-duration: 0.7s;
-moz-animation-duration: 0.7s;
-o-animation-duration: 0.7s;
-ms-animation-duration: 0.7s;
animation-duration: 0.7s; }

.animation-iteration-count-infinite {
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-o-animation-iteration-count: infinite;
-ms-animation-iteration-count: infinite;
animation-iteration-count: infinite; }

.animation-timing-function-linear {
-webkit-animation-timing-function: linear;
-moz-animation-timing-function: linear;
-o-animation-timing-function: linear;
-ms-animation-timing-function: linear;
animation-timing-function: linear; }
.animate-spin {
-webkit-animation-name: spin;
-moz-animation-name: spin;
-o-animation-name: spin;
-ms-animation-name: spin;
animation-name: spin; }

@-webkit-keyframes spin {
0% {
    -webkit-transform: rotate(0deg); }
100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
0% {
    -moz-transform: rotate(0deg);
    -moz-transform-origin: 50% 50%; }
100% {
    -moz-transform: rotate(360deg); } }
@-o-keyframes spin {
0% {
    -o-transform: rotate(0deg); }
100% {
    -o-transform: rotate(360deg); } }
@-ms-keyframes spin {
0% {
    -ms-transform: rotate(0deg); }
100% {
    -ms-transform: rotate(360deg); } }
@keyframes spin {
0% {
    transform: rotate(0deg);
    transform-origin: 50% 50%; }
100% {
    transform: rotate(360deg);
    transform-origin: 50% 50%; } 
}
.modal{
    background: rgba(154,154,154,0.5);
}
.modal-content{
    box-shadow: -5px 2px 20px 0 rgba(35,35,35,0.1);
    border: none;
    border-radius: 0;
    .modal-body{
        padding: 25px;
    }
}
// .fade-slow {
//     opacity: 0;
//     -webkit-transition: opacity 1.25s linear;
//        -moz-transition: opacity 1.25s linear;
//         -ms-transition: opacity 1.25s linear;
//          -o-transition: opacity 1.25s linear;
//             transition: opacity 1.25s linear;
//   }
  
 