.mainWrapper{
    height: calc(100vh - 80px);
}
.welcomeText{
    padding: 65px 125px;
}
.filterMainWrap{
    @extend .position-relative;
    .innerFilterWrap{
        background: $reuters-white;
        padding: 40px;
        box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);
        margin: 40px 0 40px 20px;
        transition: 500ms;
    }
    .advanceFilterWrap{
        visibility: hidden;
        opacity: 0;
        @extend .position-absolute;
        width: 550px;
        left: auto;
        right: 0;
        height: auto;
        top: 0;
        // z-index: 1;
        bottom: 0;
        box-shadow: 20px 0px 30px 0 rgba(0, 0, 0, 0.1);
        transition: 1s;
        z-index: -10;
    }
    .showAdFilter{
        @extend .position-relative;
      
        // left: 0;
        z-index: 1;
        .innerFilterWrap{
            box-shadow: -4px 0px 30px 0 rgba(0, 0, 0, 0.1);
            z-index: 2;
            @extend .position-relative;
        }
        .advanceFilterWrap{
            visibility: visible;
            opacity: 1;
            @extend .position-absolute;
            width: 550px;
            left: auto;
            right: -535px;
            height: auto;
            top: 0;
            z-index: 1;
            bottom: 0;
            box-shadow: 20px 0px 30px 0 rgba(0, 0, 0, 0.1);
            transition: 500ms;
        }
    }
}
.form-control{
    min-height: 50px;
    padding: 16px 15px 16px 16px;
    @extend .font-size-xs;
    letter-spacing: 0.2px;
    color: $reuters-black;
    margin-bottom: 40px;
    @extend .border;
    border-width: 0.05em;
    &:focus{
        border-color: $border-color;
    }
}
.searchBar{
    .form-control{
        min-height: 60px;
        padding: 24px 30px 24px 60px;
        @extend .font-size-lg;
        letter-spacing: 0.2px;
        color: $reuters-black;
        margin-bottom: 40px;
        @extend .border;
    }
    .icon-search{
        left: 18px;
        top: 14px;
        font-size: 29px;
        color: $reuters-light-grey;
    }
    
}
.formLabel{
    @extend .font-size-xs;
    letter-spacing: 0.5px;
    color: $reuters-med-grey;
    margin-bottom: 15px;
    @extend .knowledgeMedium;
}
.filterWrap{
    display: flex;
    .buttonWrap{
        padding-top: 30px;
    }
}
.customDatePicker{
    margin-bottom: 20px;
    @extend .font-size-md;
    margin-right: 10px;
    @extend .position-relative;
}
// .catList{
//     min-height: 180px;
//     margin-bottom: 20px;
// }

.catList{
    // min-height: 180px;
    margin-bottom: 40px;
}

// .selectedOpt{
//     height: 90px;
//     overflow: auto;
//     margin-bottom: 30px;
//     @extend .font-size-md;
//     line-height: 18px;
//     color: $reuters-black;
//     div{
//         margin-bottom: 10px;
//         @extend .position-relative;
//         padding-right: 30px;
//         .removeOpt{
//             width: 20px;
//             height: 20px;
//             @extend .position-absolute;
//             right: 0;
//             top: 0;
//             &.closeFilter {
//                 &::before, &::after{
//                     height: 14px;
//                     left: 8px;
//                 }
//             }

//         }
//     }
// }
.dataListWrapper{
    margin: 0;
    padding: 0;
    background: $reuters-background;
    height: calc(100vh - 80px);
    // .catList{
    //     min-height: 120px;
    // }
    .searchBar{
        margin-bottom: 10px;
        .form-control{
            min-height: 46px;
            padding: 10px 10px 10px 40px;
            margin-bottom: 15px;
        }
        .icon-search {
            left: 10px;
            top: 12px;
            font-size: 22px;
        }
    }
    .stickyHeader{
        background: $reuters-white;
        padding: 10px 30px;
        .filterMainWrap{
            @extend .position-absolute;
            left: auto;
            right: 15px;
            top: 46px;
            z-index: 1;
            min-width: 1000px;
            .innerFilterWrap{
                margin-top: 0
            }
        }
        .downArrow{
            padding-right: 42px;
            &::before{
                font-family: "IcoMoon" !important;
                transform: rotate(180deg);
                font-size: 22px;
                @extend .position-absolute;
                right: 27px;
                top: 13px;
                content: "\ea50";
                
            }
            &.openFilterBtn{
                &::before{
                    transform: rotate(0deg);
                    top: 20px;
                }
            }
        }
    }
    .resultCount{
        @extend .font-size-xs;
        letter-spacing: 0.5px;
        color: $reuters-med-grey;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0;
    }
}

.resultSet{
    margin-top: 17px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    .itemDetailWrap{
        display: none;
    }
    .exportFullDataWrap{
        background: $reuters-black;
        padding: 10px 30px;
        position: fixed;
        left: 0;
        right: 0;
        bottom:0;
        p{
            padding-right: 15px;
            color: $reuters-white;
            font-family: 'Roboto', sans-serif;
            @extend .font-size-md;
            line-height: 16px;
        }
        .alert{
            position: absolute;
            top: -50px;
            left: 30px;
            right: 30px;
            border: 1px solid #6FC3ED;
            background: #F7FCFE;
            @extend .font-size-xs;
            border-radius: 0;
            color: #1F1F1F;
            padding: 12px 14px;
            min-height: 41px;
        }
    }
    .tableHead{
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        .textLabel{
            text-transform: uppercase;
            color: $reuters-black;
            @extend .knowledgeMedium;
            margin-bottom: 0;
        }
        &:before{
            content: '';
            position: absolute;
            left: -1px;
            right: -1px;
            height: 25px;
            background: $reuters-background;
            bottom: -25px;
            width: 0;
        }
    }
    &.openItemDetails{
      .catItems{
          display: none!important;
      } 
      .itemDetailWrap{
          display: block;
          .dateTimeColumn{
            margin-bottom: 10px;
            .close-icon{
                top: 0;
                right: 0;
            }
          }
      }
      .arrow-right {
          &:before{
            width: 0; 
            height: 0; 
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-right: 20px solid $reuters-primary;
            content: '';
            top: 90px;
            @extend .position-absolute;
            left: 0;
          }
            
        } 
    }
    .searchCountHeader{
        padding-bottom: 23px;
        p{
            color: $reuters-med-grey;
            @extend .font-size-xs;
            letter-spacing: 0.5px;

        }
        
    }
    .resultSetList{
        .resultSetItem{
            background: $reuters-white;
            padding: 15px;
            margin-bottom: 25px;
            border: 1px solid transparent;
            &.active{
                border: 1px solid #fa8139;
            }
            .flex-none{
                -webkit-box-flex: 0;
                -webkit-flex: none;
                -ms-flex: none;
                flex: none;;
            }
            .flex-auto{
                -webkit-box-flex: 1;
                -webkit-flex: 1 1 auto;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                min-width: 0;
                min-height: 1px;
            }
            .catItems{
                width: 160px;
                padding-left: 15px;
                padding-right: 15px;
                word-break: break-all;
            }
            .item-title{
                padding-right: 30px;
            }
            .dateTimeColumn{
                margin-right: 50px;
                width: 130px;
            }
            &:hover{
                cursor: pointer;
            }
            &:last-child{
                margin-bottom: 0;
            }

            
        }
    }
    .itemResult{
        background-color: $reuters-white;
        border-left: 5px solid $reuters-primary;
        min-height: 100%;
        .resultSetHeader{
            padding: 15px 15px 18px 15px;
            border-bottom: 1px solid #979797;
            margin-bottom: 15px;
                
        }
        .resultText{
            padding: 15px;
            font-size: 12px;
            .rawData{
                word-break: break-all;
            }
            pre{
                white-space: pre-wrap;       /* Since CSS 2.1 */
                white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;    /* Opera 7 */
                word-wrap: break-word;
            }
        }
        .dataTabs{
            flex: 1 1;
            .btn{
                @extend .border;
                background: #F3F3F3;
                @extend .knowledgeMedium;
                @extend .font-size-xs;
                flex-grow: 1;
                border-radius: 0;
                min-height: 32px;
                color: $reuters-dark-grey;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $reuters-white;
                margin-bottom: 42px;
                margin-right: -1px;
                &.active, &:hover{
                    background: $reuters-background;
                }
            }
        }
        
    }
}
.item-title{
    h3{
        @extend .font-size-lg;
        letter-spacing: 0.5px;
        color: $reuters-black;
    }
}
.detailWrap{
    height: calc(100% - 175px);
    .overFlowScroll{
        overflow: auto;
    }
}
